numpy
opencv-python
jupyter
matplotlib
pandas
pillow
scipy
tqdm
h5py
ipykernel
torch-summary
fiftyone
roboflow
git+https://github.com/johnnynunez/detectron2.git
torch
torchvision
torchaudio
autodistill-detic
git+https://github.com/openai/CLIP.git
